#bd{background-color: rgb(255, 232, 190); border-style: solid; border-radius: 50px; border-color: rgb(1, 37, 165); border-width: 20px;}
#head{color: navy; text-decoration: solid; }
#main{color: red;}

#hw2{background-color: rgb(255, 232, 190);
border-style: solid; border-radius: 50px; border-color: rgb(1, 37, 165); border-width: 20px;}
#head2{color: navy; text-decoration: solid; }
#p2{color: red;}

#hw3{background-color: rgb(255, 232, 190);
border-style: solid; border-radius: 50px; border-color: rgb(1, 37, 165); border-width: 20px;}
#head3{color: navy; text-decoration: solid; }
#p3{color: red;}




