#date296{border-style: solid;}

#date47{border-style: solid;}

#date57{border-style: solid;}

#date67{border-style: solid;}

ol{color: blue;}

h2{color: red;}

#body{background-color: lightgray;}