#date296{border-style: solid; font-size: xx-large;}

#date47{border-style: solid; font-size: xx-large;}

#date57{border-style: solid; font-size: xx-large;}

#date67{border-style: solid; font-size: xx-large;}

#date117{border-style: solid; font-size: xx-large;}

ol{color: blue;}

h2{color: red;}

#body{background-color: lightgray;}