#date296{border-style: solid; border-color: #2ecc71;}

#date47{border-style: solid; border-color: #2ecc71;}

#date57{border-style: solid; border-color: #2ecc71;}

#date67{border-style: solid; border-color: #2ecc71;}

#date117{border-style: solid; border-color: #2ecc71;}

#date127{border-style: solid; border-color: #2ecc71;}

#date137{border-style: solid; border-color: #2ecc71;}

ol{color: #34495e;}

h1{color: #2ecc71;}

h2{color: #27ae60;}

#body{background-color: #e8f6ef;}