#june{background-color: #ffffff; border-style: solid; border-radius: 50px ; border-color: #2ecc71 ; border-width: 10px;}

#july{background-color: #ffffff; border-style: solid; border-radius: 50px; border-color: #27ae60; border-width: 10px;}
#main{background-color: #e8f6ef;}

h1{color: #27ae60;}

h2{color: #27ae60;}

ol{color: #27ae60;}

