#june{background-color: rgb(255, 232, 190); border-style: solid; border-radius: 50px ; border-color: red; border-width: 20px; font-size: larger;}

#july{background-color: rgb(155, 220, 246); border-style: solid; border-radius: 50px; border-color: green; border-width: 20px; font-size: larger;}
#main{background-color: lightgray;}

